#actor1 {
	color:white;
	font-size: 15px;
	font-style:oblique;
	text-align:center;
}

#body {
	 background-color:lightblue;
}

#food1 {
	background-color:#cc0000;
	border-radius: 50px;
	bottom: auto;
	padding: 15px;
	text-align:center;
	width: 100%;
 
}

#foodkind {
	color:white;
	font-size: 24px;
	font-style:oblique;
	text-align:center;	
}

.jumbotron {
	font-style:oblique;
}
	
#movies {
	background-color:#cc0000;
	border-radius: 50px;
	padding: auto;
	text-align:center;
    width: 100%; 
}

#director1 {
	color:white;
	font-size: 15px;
	font-style:oblique;
	text-align:center;	
}

#p {
	font-size: 18px;
	font-weight:bold;
	padding-top: none;
	text-align: center;
}
 
#results {
	background-color:#cc0000;
	border-radius: 50px;
	color: white;
	font-size: 16px;
	font-style:oblique;
	padding: 25px;
	text-align:center;
	width: 100%;
}


#searchmovie {
	color:white;
	font-size: 24px;
	font-style:oblique;
	align:center;
}

#submit {
	font-size: 16px;
	margin-right: auto;
	margin-left: auto;
	padding:30px 15px;
	width: 90px;
	display:flex;
}
#title {
	background-color: white;
	border-bottom: 8px solid red;
	border-left: 8px solid red;
    border-right: 8px solid red;
    border-radius: 50px;
    border-top: 8px solid red;
   	height:375px;
    margin-left: auto;
  	margin-right: auto;
  	width:1000px;
}

#wrapper {
	background-color:lightblue;
}

