#title {
	background-color: white;



}

.jumbotron {
	text-align: center;
	font-style:oblique;
	font-size:75px;
}
	
#p {
	
	font-size: 18px;
	text-align: center;
	text-align: top;

}

#foodkind {
	
	font-size: 25px;
	text-align: center;
	font-style:oblique;

}

#line {
	background-color: red;
	height: 3px;
	margin-top: none;
}

#line2 {

	background-color: red;
	background-color: blue;
	height: 3px;
	margin-bottom: -50px;
}
	
	
#movies {
	width: 700px;
	margin-right: auto;
	margin-left: auto;

	background-color: 	 #cc0000;
	color: white;
	padding: auto;
	bottom: auto;
	text-align:center;
}

#searchmovie {
	font-size: 24px;
}


#food {

	width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color: #5868fb;
	color: white;
	padding: 15px;
	bottom: auto;
	text-align:center;
}
 
#results {
	font-size: 50px;
	font-style: oblique;
	color: blue;

}



