#body {
	 background-color:lightblue;
}


#food {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color:#cc0000;
	padding: auto;
	bottom: auto;
	text-align:center;
	border-radius: 30px;
	padding: 10px;
}

#foodkind {
	
	font-size: 24px;
	font-style:oblique;
	text-align: center;
	color:white;
}



.jumbotron {
	font-style:oblique;
}

	
#movies {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color:#cc0000;
	padding: auto;
	bottom: auto;
	text-align:center;
	border-radius: 30px;

}

#p {
	
	font-size: 18px;
	text-align: center;
	font-weight:bold;
	padding-top: none;


}
 
#results {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	background-color:#cc0000;
	color: white;
	padding: auto;
	bottom: auto;
	text-align:center;
	border-radius: 30px;
	

}

#searchmovie {
	font-size: 24px;
	font-style:oblique;
	color:white;

}

#submit {
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	padding:10px;
	font-size: 16px;
}


#title {
	background-color: white;
	border-bottom: 7px solid red;
	border-left: 7px solid red;
    border-right: 7px solid red;
    border-top: 7px solid red;
    border-radius: 50px;
    margin-left: auto;
  	margin-right: auto;
  	width:1000px;
  	height:375px;
}



#wrapper {
	background-color:lightblue;
}


.drop-element {
  // Set the initial state for our animation
  opacity: 0;
}
.drop-element.drop-open-transitionend {
  // Show our drop while it's open and while the transition is going on
  display: block;
}
.drop-element.drop-after-open {
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  transition: opacity 1s;

  opacity: 1;
}